.default {
	cursor: pointer;
	color: #212121;
	background-color: #e3f730;
	display: inline-block;
	border-radius: 100px;
	padding: 15px 28px 18px;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	border: 2.5px solid #e3f730;
	position: relative;
}

.default:hover {
	color: #ffff;
	background-color: transparent;
}

.primary {
	color: #fff;
	cursor: pointer;
	background-color: #212121;
	display: inline-block;
	border-radius: 100px;
	padding: 15px 28px 18px;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	border: 2.5px solid #212121;
	position: relative;
}

.primary.white{
  color: #000;
  background-color: #fff;
  border: 0.25rem solid #fff;
}
.primary.white:hover {
  color: #fff;
}

.primary:hover {
	color: #000;
	background-color: transparent;
}



.transparent {
	color: #fff;
	cursor: pointer;
	background-color: transparent;
	border-radius: 100px;
	display: inline-block;
	padding: 15px 28px 18px;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	border: 2.5px solid #fff;
	position: relative;
}

.black-border-btn {
	position: relative;
	color: #212121;
	cursor: pointer;
	border-radius: 100px;
	display: inline-block;
	padding: 15px 28px 18px;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	background-color: #fff;
	border: 2.5px solid #212121;
}
.black-border-btn:hover {
	color: #fff;
	background-color: #212121;
}

.transparent:hover {
	color: #212121;
	background-color: #fff;
}

.text-link {
	cursor: pointer;
	color: #212121;
	display: inline-block;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.65em;
	padding-right: 2.6rem;
	position: relative;
}

.text-link.small{
	padding-right: 1rem;
  }

.text-link:after {
	content: '';
	position: absolute;
	bottom: 10px;
	width: 16px;
	height: 10px;
	right: 0;
	background: url('../../public//images/icons/right-arrow-cosmos.svg');
	background-size: contain;
	transition: right 0.3s ease-in-out;
}

.text-link.small::after{
	background: url('../../public//images/icons/Icon.svg');
	width: 12px;
	height: 8px;
	bottom: 30%;
  }

  .text-link.small:hover::after{
    background:url('../../public/images/icons/icon-purple.svg')
  }

.text-link:hover:after {
	right: -0.5rem;
}

.text-link-white {
	cursor: pointer;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.65em;
	padding-right: 2.6rem;
	position: relative;
}

.text-link-white::after {
	content: '';
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 16px;
	height: 10px;
	background: url('../../public//images/icons/right-arrow-white.svg');
	background-size: contain;
	transition: right 0.3s ease-in-out;
}

.text-link-white:hover:after {
	right: -0.5rem;
}

@media (max-width:767px){
  .button{
    font-size: 18px;
    padding: 10px 20px 14px;
  }
}
@media (min-width:766px) and (max-width:1280px){
  .button{
    font-size: 20px;
   
  }
}
