.tabs .innerContent {
	width: calc(100% + 142px);
  margin-left: -104px;
}

/* Scroll Css start */
/* .tabs .container {
	min-height: 300vh;
} */
.wrapper {
	  position: sticky;
	  min-height: 200px;
    top: 85px;
		z-index: 9;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.wrapper {
	  top: 55px;
  }
}

/* .tabs .tab_outer {
	height: 100vh;
	position: sticky;
	top: 0;
} */
.tabs  .tab_content{
	min-height: auto;
	padding-block: 0;
	/* position: absolute;
	top: 210px;   */
	/* transition: top 500ms ease-in-out; */
}
.tabs  .tab_content.faded_out.down {
	top: -25vh;
}
.tabs  .tab_content.faded_out {
	top: 25vh;
}
/* Scroll Css end */

.tabs .list h4::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
  background: #FA524D;
	width: 0;
	height: 4px;
	border-radius: 5px;
	transition: width 0.3s ease;
}
.tabs .list:nth-child(2) h4::after{
	background: #875EF0;
}
.tabs .list:nth-child(3) h4::after{
	background: #2AA29C;
}
.tabs .list:nth-child(4) h4::after{
	background: #212121;
}
.tabs .list h4.active::after {
	width: 100%;
}
.tabs .content {
	width: calc(100% - 487px);
}
.tabs .content h3 {   
	color: #fff;
}
.tabs .content p {
	color: #fff;
}
.tabs .content li {
	color: #fff;
}
.tabs .col_seven {
	width: calc(93.5% - 486px);
}
.tabs .imgOuter:after{
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0.4;
	 background:  #212121;
	 mix-blend-mode: multiply;
	 z-index: 1;
}

.tabs .innerContent ul li h6 {
	font-family: Mundial;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px; 
	text-transform: uppercase;
}

.tabs .innerContent ul li:not(:first-of-type){
	padding-left: 44px;
}

.tabs .innerContent ul li:not(:first-of-type)::after{
	content: '';
	position: absolute;
	left: 19px;
	top: 0;
	bottom: 0;
  background: #fff;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	margin: auto;
}

@media (min-width: 1281px) and (max-width: 1366px) {
	.tabs .col_three {
		min-height: 400px;
	}
}
@media (min-width: 992px) and (max-width: 1280px) {
	.tabs .col_seven {
		width: calc(100% - 486px);
	}
	.tabs .col_three {
		min-height: 385px;
	}
	.tabs .innerContent {
		width: calc(100% + 104px);
		margin-left: -104px;
	}
	.tabs .content {
		width: calc(100% - 350px);
	}
}
@media (min-width: 1025px) and (max-width: 1366px) {
	.tabs .col_seven {
		width: calc(100% - 486px);
	}
	
}
@media (min-width: 992px) and (max-width: 1024px) {
	.tabs .col_seven {
		width: calc(100% - 486px);
	}
}
@media (max-width: 991px) {
	.tabs .content {
		width: 100%;
	}
	.tabs .innerContent {
		width: 100%;
		margin-left: 0;
	}
	.tabs .imgOuter {
		margin-bottom: -40px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.tabs .col_seven {
		width: calc(100% - 300px); 
	}
	.tabs .col_three {
		min-height: 284px;
	}
	.tabs .innerContent ul li h6{
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	.tabs {
		padding-bottom: 0;
	}
	.tabs .col_three {
		order: 1;
	}
	.tabs .col_seven {
		width: 100%;
		padding-right: 0; 
		order: 2;
		padding-top: 80px;
	}
	.tabs .content_outer {
		order: 3;
	}
}
@media (min-width: 596px) and (max-width: 767px) {
	.tabs .innerContent ul li h6{
		font-size: 16px;
	}
}
@media (max-width: 595px) {
	.tabs .container {
		padding: 0;
	}
	.tabs .list{
		display: flex;
    justify-content: flex-start;
	}
	.tabs .list:first-of-type {
		padding-top: 0;
	}
	.tabs .col_seven  {
		padding: 80px 20px 0;
	}
	.tabs .imgOuter {
		max-width: calc(100% - 40px);
	}
	.tabs .btn_wrap {
		text-align: center;
	}
	.tabs .btn_wrap a{
		display: block;
	}
	.tabs .btn_wrap a:last-of-type {
		display: inline-block;
	}
	.tabs .innerContent ul li h6{
		font-size: 16px;
	}
}

/* Small height */
@media (min-width: 1200px) and (max-height: 950px) {
	.tabs .col_three {
		padding-top: 0;
		min-height: 238px;
	}
	.tabs .col_three .image_wrap img {
		max-width: 250px;
		max-height: 160px;
	}
	.tabs .col_three .image_wrap:first-of-type {
		height: 160px;
		left: 150px;
		top: 50px;
	}
}

